.sidebar {
    width: 250px;
    padding: 15px;
    float: left;
    height: 100%;
}

.sidebar + div {
    margin-left: 250px;
}

.search-content {
    padding: 15px;
}

.result-area {
    margin-top: 20px;
    position: relative;
}

.result-section {
    display: inline-block;
}

.result-row {
    padding: 10px 5px !important;
    color: #535353;
    margin: 0 0 10px 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.result-row fieldset {
    margin-top: 10px;
}


facet {
    color: #535353;
    background-color: #d4cfa0;
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

facet ul {
    list-style-type: none;
    padding-left: 0;
}

facet li a {
    cursor: pointer;
    color: #535353;
    text-decoration: none;
    padding-left: 15px;
    width: 100%;
    display: block;
}

facet li a:focus, facet li a:hover {
    background-color: #046380;
    color: #EFECCA;
    text-decoration: none;
}

facet i {
    font-size: 8pt;
}

.facet-link {
    cursor: pointer;
}

.active-filters {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 280px;
    position: absolute;
    top: -10px;
    left: 0;
}

.filter {
    margin-right: 5px;
    cursor: pointer;
}

.label-default {
    background-color: #046380;
    color: #EFECCA;
}
