<section data-ng-controller="TodosController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Todo</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="content">To Do</label>
                    <div class="controls">
                        <input type="text" data-ng-model="todo.content" id="content" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                      <label onmouseup="mouseUp()">
                        <input type="checkbox" value="" data-ng-model="todo.isCompleted" data-ng-change="update(todo)">
                        Is completed?
                      </label>
                    </div>
                </div>
                <div class="form-group">
                    <div style="display: inline-block;">
                        <button type="button" class="btn btn-default" ng-click="todo.dueDate = null">Clear due date</button>
                        <datepicker ng-model="todo.dueDate" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>