<section data-ng-controller="TodosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Todos</h1>
    </div>
    <div class="col-xs-12">
        <input type="text" class="form-control" placeholder="Enter a To Do" data-ng-model="content" data-ng-keypress="save($event)">
    </div>
    <br>
    <div class="col-xs-12">
        <div class="list-group">
            <div data-ng-repeat="todo in incompleteTodos" data-ng-href="#!/todos/{{todo._id}}" class="list-group-item">
                <todo-item></todo-item>
            </div>
        </div>
            <h1>Completed To Dos</h1>
            
        <div class="list-group">
            <div data-ng-repeat="todo in completedTodos" data-ng-href="#!/todos/{{todo._id}}" class="list-group-item">
                <todo-item></todo-item>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center col-xs-12" data-ng-hide="!todos.$resolved || todos.length">
    	No Todos yet, why don't you <a href="/#!/todos/create">create one</a>?
    </div>
</section>