<div class="result-row col-md-12">
    <div class="result-section col-md-2">
        <span><strong>Name:</strong></span>&nbsp;<span ng-bind="result._source.name"></span>
    </div>
    <div class="result-section col-md-2">
        <span><strong>Gender:</strong></span>&nbsp;<span ng-bind="result._source.gender"></span>
    </div>
    <div class="result-section col-md-2">
        <span><strong>Age:</strong></span>&nbsp;<span ng-bind="result._source.age"></span>
    </div>
    <div class="result-section col-md-2">
        <span><strong>Eye color:</strong></span>&nbsp;<span ng-bind="result._source.eyeColor"></span>
    </div>
    <div class="result-section col-md-2">
        <span><strong>Favorite fruit:</strong></span>&nbsp;<span ng-bind="result._source.favoriteFruit"></span>
    </div>
    <div class="result-section col-md-2">
        <span><strong>Company:</strong></span>&nbsp;<span ng-bind="result._source.company"></span>
    </div>
    <fieldset class="col-md-12">
        <legend>About</legend>
        <p ng-bind="result._source.about"></p>
    </fieldset>
</div>
